$light: #81B8D7;
$mid: #6791A9;
$dark: #232F35;

body, html{
	height:100%;
}

.navbar{
	margin:0;
}

.mainContainer{
	padding:0;
	background-color:$light;
	height:100%;
}

.innerContainer{
	width:500px;
}

.well{
	margin-top:20px;
}

.interval{
	border: thin solid $dark;
	width:100%
	max-width:300px;
	margin:30px auto;
	display:flex;
	justify-content:center;
	align-items:center;
	flex-flow:column;
	padding:5px;
}

.checkbox{
	padding-left:25px;
}

label{
	font-size:20px;
}

input[type='checkbox']{
	margin-top:7px;
}