@import url(https://fonts.googleapis.com/css?family=Raleway);
body {
    background-color: #7F9BDC;
}
h1 {
    font-size: 100px;
    text-align: center;
    font-family: Raleway;
    color: white;
}
p {
    font-size: 20px;
    text-align: center;
    font-family: Raleway;
    color: white;
    padding-top: 30px;
}
.logo {
    width:250px;
    height:250px;
    padding-top:30px;
    margin:0 auto;
}
.logoimg {
    width:250px;
    height:250px;
}